{% extends "cust_layout.html" %}
{% block content %}

<section class="main">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-6 pt-5">
                <p class="m-0 pt-5home-text"><em>SKY~COUTURE</em></p>
                <h1>Fashion <br>Collection <br>2023</h1>
                    <button type="submit" class="btn2 btn-outline mt-3">SHOP NOW</button>
            </div>
        </div>
    </div>
</section>


<!-- ================== SECTION A ============== -->

<section class="next py-5">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card zoom-n-rotate">
                    <img src="./static/image/image_5a.png" class="img-fluid reduce-img card" alt="">
                    <button class="btnc">Shop For More</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card zoom-n-rotate">
                    <img src="./static/image/image_5a.png" class="img-fluid reduce-img" alt="">
                    <button class="btnc">Shop For More</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card zoom-n-rotate">
                    <img src="./static/image/image_5a.png" class="img-fluid reduce-img" alt="">
                    <button class="btnc">Shop For More</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ===============PRODUCT PAGE================= -->

<section class="product py-5">
    <div class="container py-5">
        <h1>Our Product</h1>
        <div class="row pt-5">
            <div class="col-lg-3">
                <div class="card border-0">
                    <div class="cad-body py-5 bg-light">
                        <img src="./static/image/image_14.png" class="img-fluid" alt="">
                    </div>
                    <div class="card-footer border-0 text-center bg-white">
                        <h5>Men's Native Wear</h5>
                        <p class="m-0"><img src="./static/image/naira.svg" class="naira" alt="Naira">10,000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border-0">
                    <div class="cad-body py-5 bg-light">
                        <img src="./static/image/image_14.png" class="img-fluid" alt="">
                    </div>
                    <div class="discount">-23%</div>
                    <div class="card-footer border-0 text-center bg-white">
                        <h5>Men's Native Wear</h5>
                        <p class="m-0"><img src="./static/image/naira.svg" class="naira" alt="Naira">10,000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border-0">
                    <div class="cad-body py-5 bg-light">
                        <img src="./static/image/image_14.png" class="img-fluid" alt="">
                    </div>
                    <div class="card-footer border-0 text-center bg-white">
                        <h5>Men's Native Wear</h5>
                        <p class="m-0"><img src="./static/image/naira.svg" class="naira" alt="Naira">10,000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border-0">
                    <div class="cad-body py-5 bg-light">
                        <img src="./static/image/image_14.png" class="img-fluid" alt="">
                    </div>
                    <div class="card-footer border-0 text-center bg-white">
                        <h5>Men's Native Wear</h5>
                        <p class="m-0"><img src="./static/image/naira.svg" class="naira" alt="Naira">10,000</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-3">
                <div class="card border-0">
                    <div class="cad-body py-5 bg-light">
                        <img src="./static/image/image_14.png" class="img-fluid" alt="">
                    </div>
                    <div class="card-footer border-0 text-center bg-white">
                        <h5>Men's Native Wear</h5>
                        <p class="m-0"><img src="./static/image/naira.svg" class="naira" alt="Naira">10,000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border-0">
                    <div class="cad-body py-5 bg-light">
                        <img src="./static/image/image_14.png" class="img-fluid" alt="">
                    </div>
                    <div class="discount">-23%</div>
                    <div class="card-footer border-0 text-center bg-white">
                        <h5>Men's Native Wear</h5>
                        <p class="m-0"><img src="./static/image/naira.svg" class="naira" alt="Naira">10,000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border-0">
                    <div class="cad-body py-5 bg-light">
                        <img src="./static/image/image_14.png" class="img-fluid" alt="">
                    </div>
                    <div class="card-footer border-0 text-center bg-white">
                        <h5>Men's Native Wear</h5>
                        <p class="m-0"><img src="./static/image/naira.svg" class="naira" alt="Naira">10,000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border-0">
                    <div class="cad-body py-5 bg-light">
                        <img src="./static/image/image_14.png" class="img-fluid" alt="">
                    </div>
                    <div class="discount">-23%</div>
                    <div class="card-footer border-0 text-center bg-white">
                        <h5>Men's Native Wear</h5>
                        <p class="m-0"><img src="./static/image/naira.svg" class="naira" alt="Naira">10,000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ============== NEW ARRIVALS ================== -->

<section class="filter my-5">
    <div class="container-fluid container1 py-5">
        <div class="row">
            <div class="col-lg-5 text-center">
                <h1>New Arrivals</h1>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-4 mix green">
                <div class="card border-0">
                    <img src="./static/image/image_11.png" class="img-fluid" alt="">
                    <div class="circle1"><a href="/product"><i class="fas fa-shopping-cart"></i></a></div>
                </div>
            </div>
            <div class="col-lg-4 mix pink">
                <div class="card border-0">
                    <img src="./static/image/image_11.png" class="img-fluid" alt="">
                    <div class="circle1"><a href="/product"><i class="fas fa-shopping-cart"></i></a></div>
                </div>
            </div>
            <div class="col-lg-4 mix blue">
                <div class="card border-0">
                    <img src="./static/image/image_11.png" class="img-fluid" alt="">
                    <div class="circle1"><a href="/product"><i class="fas fa-shopping-cart"></i></a></div>
                </div>
            </div>
        </div>
        <div class="row pt-5 g-2">
            <div class="col-lg-4 mix green">
                <div class="card border-0">
                    <img src="./static/image/image_11.png" class="img-fluid" alt="">
                    <div class="circle1"><a href="/product"><i class="fas fa-shopping-cart"></i></a></div>
                </div>
            </div>
            <div class="col-lg-4 mix pink">
                <div class="card border-0">
                    <img src="./static/image/image_11.png" class="img-fluid" alt="">
                    <div class="circle1"><a href="/product"><i class="fas fa-shopping-cart"></i></a></div>
                </div>
            </div>
            <div class="col-lg-4 mix blue">
                <div class="card border-0">
                    <img src="./static/image/image_11.png" class="img-fluid" alt="">
                    <div class="circle1"><a href="/product"><i class="fas fa-shopping-cart"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ============== LOGISTICS ================== -->

<section>
    <div class="iconic py-5">
        <div class="container text-center py-5">
            <div class="row pb-5">
                <div class="col-lg-4">
                    <span><i class="fas fa-truck icon"></i></span>
                    <h3 class="py-3">Free shipping</h3>
                    <p>Divided face for bearing the divide unto seed winged 
                        divided light Forth the bearing</p>
                </div>
                <div class="col-lg-4">
                    <span><i class="fas fa-address-card icon"></i></span>
                    <h3 class="py-3">Address</h3>
                    <p>Divided face for bearing the divide unto seed winged 
                        divided light Forth the bearing</p>
                </div>
                <div class="col-lg-4">
                    <span><i class="fas fa-calendar-alt icon"></i></span>
                    <h3 class="py-3">Calendar</h3>
                    <p>Divided face for bearing the divide unto seed winged 
                        divided light Forth the bearing</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--==================FOOTRER===================-->

<footer>
    <div class="news pt-5">
      <div class="container-fluid pt-3 text-white">
          <div class="row">
              <div class="col-lg-11 m-auto">
                  <div class="row">
                      <div class="col-lg-2">
                          <h3 class="pb-3 text-white">Category</h3>
                          <p class="m-0"><a href="#">Men</a></p>
                          <p class="m-0"><a href="#">Women</a></p>
                          <p class="m-0"><a href="#">Children</a></p>
                          <p class="m-0"><a href="#">Fashion</a></p>
                      </div>
                      <div class="col-lg-2">
                          <h3 class="pb-3 text-white">Company</h3>
                          <p class="m-0"><a href="{{url_for('about')}}">About</a></p>
                          <p class="m-0"><a href="#">News</a></p>
                          <p class="m-0"><a href="#">FAQ's</a></p>
                          <p class="m-0"><a href="#">Contact</a></p>
                      </div>
                      <div class="col-lg-3">
                          <h3 class="pb-3 text-white">Address</h3>
                          <p>86, Osubi Effurun Delta State <br>+234-812-929-6835</p>
                          <a href="#">Contact@skycouture.com</a>
                      </div>
                      <div class="col-lg-5 news-l">
                          <h3 class="pb-3 text-white">Newsletter</h3>
                          <form action="" class="d-flex">
                              <input type="text" class="sub p-3" placeholder="Your Email">
                              <button class="btns">Subscribe</button>
                          </form>
                          <div class="icon1 d-flex text-center">
                              <div class="circle p-2">
                                  <i class="fab fa-facebook-f" ></i>
                              </div>
                              <div class="circle p-2 mx-3">
                                  <i class="fab fa-twitter" ></i>
                              </div>
                              <div class="circle p-2">
                                  <i class="fab fa-instagram" ></i>
                              </div>
                              <div class="circle p-2 mx-3">
                                  <i class="fab fa-linkedin pb-5" ></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr class="h-rule">
                  <p class="text-center pb-3 copy">Copyright ©2023 All right reserved | This template is made by ICE TECH</p>
              </div>
          </div>
      </div>
    </div>
  </footer>

  

{% endblock  content %}