{% extends 'cust_layout.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row mb-5">
        <!-- Table for displaying the shopping cart items -->
        <table class="table table-sm">
            <thead>
                <th>Image</th>
                <th>Name</th>
                <th>Color</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
                <th>Update</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for key, product in session['Shoppingcart'].items() %}
                {% set discount = "%0.2f" | format((product.discount/100) * product.price|float) %}
                <tr>
                    <td><img src="{{url_for('static', filename='images/' + product.image)}}" alt="{{product.name}}" width="20" height="20"></td>
                    <td>{{product.name}}</td>
                    <form action="{{url_for('updatecart', code=key)}}" method="post">
                        <td>
                            {% set colors = product.colors.split(',') %}
                            <label for="colors">Colors:</label>
                            <select name="color" id="color">
                                <!-- Display the currently selected color -->
                                <option value="{{product.color}}" style="display: none;">{{product.color|capitalize}}</option>
                                {% for color in colors %}
                                {% set col = color.split(':') %}
                                <option value="{{col[0]}}">{{ col[0]|capitalize }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><img src="{{url_for('static', filename='image/naira.svg')}}" class="naira">{{product.price}}</td>
                        <td><input type="number" name="quantity" min="1" max="{{product.stock}}" value="{{product.quantity}}"></td>
                        {% if product.discount > 0 %}
                        <td>{{product.discount}}%</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% set subtotal = product.quantity|int * product.price|float %}
                        <td><img src="{{url_for('static', filename='image/naira.svg')}}" class="naira">{{"%0.2f"|format((subtotal|float) - discount|float)}}</td>
                        <td><button type="submit" class="btn btn-sm btn-info">Update</button></td>
                    </form>
                    <td><a href="{{url_for('deleteitem', id=key)}}" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <!-- Button to proceed to checkout -->
                    <td><a href="/" class="btn btn-info">Check Out</a></td>
                    <!-- Button to clear the entire shopping cart -->
                    <td colspan="8"><a href="{{url_for('clearcart')}}" class="btn btn-danger">Clear Cart</a></td>
                </tr>
            </tbody>
        </table>
        <!-- Table for displaying price details -->
        <div class="table-price">
            <table>
                <tr>
                    <td><h6>Subtotal</h6></td>
                    <td><b><img src="{{url_for('static', filename='image/naira.svg')}}" class="naira">{{sum}}</b></td>
                </tr>
                <tr>
                    <td><h6>Tax:</h6></td>
                    <td><b><img src="{{url_for('static', filename='image/naira.svg')}}" class="naira">{{tax}}</b></td>
                </tr>
                <tr class="s-total">
                    <td><h5 class="ml-2">Grand Total:</h5></td>
                    <td><h5 class="mr-2 ml-4"><b><img src="{{url_for('static', filename='image/naira.svg')}}" class="naira">{{grandtotal}}</b></h5></td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
