{% extends 'layout.html' %}
{% block content %}
{% include '_messages.html' %}

<div class="container mt-5">
    <table class="table table-sm table-condensed table-striped table-hover">
        <thead>
            <th>S/N</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% if brands %}
                {% for brand in brands %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ brand.name }}</td>
                        <td><a href="{{ url_for('updatebrand', id=brand.id) }}" class="btn btn-sm btn-outline-info">Edit</a></td>
                        <td>
                            <!-- Button to trigger delete confirmation modal for brand -->
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{ brand.id }}">
                                Delete
                            </button>
                        </td>
                    </tr>

                    <!-- Delete confirmation modal for brand -->
                    <div class="modal fade" id="exampleModal-{{ brand.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ brand.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Delete confirmation message for brand -->
                                    <span class="text-danger">Are you sure that you want to delete this <strong class="text-primary">{{ brand.name }}</strong> brand?</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                                    <!-- Form to submit the delete request for brand -->
                                    <form action="{{ url_for('deletebrand', id=brand.id) }}" method="POST">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for category in categories %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ category.name }}</td>
                        <td><a href="{{ url_for('updatecat', id=category.id) }}" class="btn btn-sm btn-outline-info">Edit</a></td>
                        <td>
                            <!-- Button to trigger delete confirmation modal for category -->
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{ category.id }}">
                                Delete
                            </button>
                        </td>
                    </tr>

                    <!-- Delete confirmation modal for category -->
                    <div class="modal fade" id="exampleModal-{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ category.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Delete confirmation message for category -->
                                    <span class="text-danger">Are you sure that you want to delete this <strong class="text-primary">{{ category.name }}</strong> category?</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                                    <!-- Form to submit the delete request for category -->
                                    <form action="{{ url_for('deletecategory', id=category.id) }}" method="POST">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock content %}
